.citimages{
    display: inline-block;
    width: 98%;
    margin: 10px 5px;

    
    
    
}
.image{
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 25px;
}
.citimages .image img{
border-radius: 25px;
width: 310px;
height: 250px;
box-sizing: border-box;
object-fit: cover;
transition: 0.01s ease-in;


}
.citimages .image img:hover{

    transform: scale(1.02);
    cursor: pointer;
   
}
.name{
    position: absolute;
    bottom: 18px;
    left: 10px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    padding: 10px;
    border-radius: 15px;
}
